

@font-face {
  font-family: "noigrotesk";
  src: url("/assets/fonts/NoiGrotesk-SemiBold.eot");
  src: url("/assets/fonts/NoiGrotesk-SemiBold.eot") format("embedded-opentype"),
    url("/assets/fonts/NoiGrotesk-SemiBold.woff2") format("woff2"),
    url("/assets/fonts/NoiGrotesk-SemiBold.woff") format("woff"),
    url("/assets/fonts/NoiGrotesk-SemiBold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}


@font-face {
  font-family: "noigrotesk";
  src: url("/assets/fonts/NoiGrotesk-SemiBold.eot");
  src: url("/assets/fonts/NoiGrotesk-SemiBold.eot") format("embedded-opentype"),
    url("/assets/fonts/NoiGrotesk-SemiBold.woff2") format("woff2"),
    url("/assets/fonts/NoiGrotesk-SemiBold.woff") format("woff"),
    url("/assets/fonts/NoiGrotesk-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "noigrotesk";
  src: url("/assets/fonts/NoiGrotesk-Regular.eot");
  src: url("/assets/fonts/NoiGrotesk-Regular.eot") format("embedded-opentype"),
    url("/assets/fonts/NoiGrotesk-Regular.woff2") format("woff2"),
    url("/assets/fonts/NoiGrotesk-Regular.woff") format("woff"),
    url("/assets/fonts/NoiGrotesk-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "noigrotesk";
  src: url("/assets/fonts/NoiGrotesk-Light.eot");
  src: url("/assets/fonts/NoiGrotesk-Light.eot") format("embedded-opentype"),
    url("/assets/fonts/NoiGrotesk-Light.woff2") format("woff2"),
    url("/assets/fonts/NoiGrotesk-Light.woff") format("woff"),
    url("/assets/fonts/NoiGrotesk-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "noigrotesk";
  src: url("/assets/fonts/NoiGrotesk-Medium.eot");
  src: url("/assets/fonts/NoiGrotesk-Medium.eot") format("embedded-opentype"),
    url("/assets/fonts/NoiGrotesk-Medium.woff2") format("woff2"),
    url("/assets/fonts/NoiGrotesk-Medium.woff") format("woff"),
    url("/assets/fonts/NoiGrotesk-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: "noigrotesk";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-family: "noigrotesk";
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  color-scheme: light dark;
  @media (prefers-color-scheme: dark) {
    background-color: #1a1b1d;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .font-noigrotesk {
    font-family: "noigrotesk", sans-serif;
  }
}

body {
  @apply font-noigrotesk;
}
